<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style.css" type="text/css" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="main">
		<div class="base">
			<div class="answer">
				<p class="noAnswer">Please input values</p>
			</div>
			<button id="btn">OK!</button>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>