<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style.css" type="text/css" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="main">
		<div class="base">
			<div class="answer">
				<p class="noAnswer">Please input values</p>
			</div>
			<div class="String">
				<button class="deleteOne">AC</button>
				<button class="deleteAll">DE</button>
				<button class="dot">.</button>
				<button class="divide">/</button>
			</div>
			<div class="String">
				<button class="seven">7</button>
				<button class="eight">8</button>
				<button class="nine">9</button>
				<button class="multiply">*</button>
			</div>
			<div class="String">
				<button class="four">4</button>
				<button class="five">5</button>
				<button class="six">6</button>
				<button class="minus">-</button>
			</div>
			<div class="String">
				<button class="one">1</button>
				<button class="two">2</button>
				<button class="three">3</button>
				<button class="plus">+</button>
			</div>
			<div class="String">
				<button class="doubleZero">00</button>
				<button class="zero">0</button>
				<button class="equally">=</button>
				
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>