.main{
	text-align: center;
}
.base {
	display: inline-block;
	height: 512px;
	width: 400px;
	margin: 18px;
	background-color: #666666;
	text-align: center;
	border-radius: 7px;
}
body{
	background: #F6F6FF;
}
button{
	color:#65F;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-weight: 40px;
	font-size: 32px;
}
.noAnswer{
	text-align: right;
	color: #99958C;
	margin: 2vw;
	margin-top: 4vw;
}